In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("01-variables.ipynb")

# 1 Grundlagen - Variablen

[CT-Buch Kapitel 13.1 Variablen](https://bzoennchen.github.io/ct-book/chapters/03-3/1-variables.html)

*Variablen* können wir uns intuitiv zunächst als Namen oder Bezeichnung eines Wertes vorstellen.
Mit diesem Namen können wir einen Wert im *Arbeitsspeicherspeicher* des Computers identifizieren.
So können wir uns Zwischenergebnisse merken und damit weiter rechnen.

## 1.1 Initialisierung und Zuweisung

Durch das ``=`` Zeichen weisen wir einer *Variablen* auf der linken Seite den Wert des *Ausdrucks* auf der rechten Seite zu: ``[Variable] = [Ausdruck]``.
Zum Beispiel, weist

In [ ]:
x = 3 + 10

den ausgewerteten Wert ``3 + 10``, also ``13`` der Variablen ``x`` zu.
Der Ausdruck ``3 + 10`` wird vor der Zuweisung ausgewertet / berechnet.
Es ist äußerst wichtig, dass Sie zwischen dem ``=`` (Zuweisung) und dem mathematischen $=$ (Vergleich) unterscheiden.

$$x = 13$$

bedeutet, dass $x$ gleich $13$ ist, wohingegen

In [ ]:
x = 13

den Wert der Variablen ``x`` auf ``13`` setzt oder genaue die Variable auf einen Speicherbereich verweisen lässt, welcher den Wert ``13`` enthält.
Um das mathematisch auszurücken verwendet man oft eine Pfeil $\leftarrow$, also 

$$x \leftarrow 13.$$

Der Pfeil soll verdeutlichen, dass es sich um eine *Zuweisung* handelt. Mit

In [ ]:
x = None

weisen wir ``x`` den Wert ``None`` d.h. 'Nichts' zu. Doch ist dieses 'Nichts' nicht nichts ;) sondern **repräsentiert** das Nichts.

Versuchen wir eine *Variable* zu verarbeiten, die noch nicht initialisiert wurde, so erhalten wir einen Fehler:

In [ ]:
v + 20

Die Fehlermeldung des Interpreters ``name 'v' is not defined`` weist uns darauf hin, dass die *Variable* ``v`` noch nicht *initialisiert* wurde.

In ``Python`` reicht es wenn Sie der *Variablen* einen Wert zuweisen.
Sie wird automatisch erzeugt, d.h., *initialisiert*.
Besitzt sie noch keinen Wert, so existiert sie auch nicht bzw. ist noch nicht *initialisiert*.

Variablen können nicht beliebig benannt werden. 

+ Sie können **keine** Leerzeichen enthalten (falsch: ``test var``)
+ Sie dürfen lediglich Buchstaben, Zahlen und den Unterstrich enthalten (falsch: ``test_var!``)
+ Sie müssen mit einem Buchstaben oder dem Unterstrich starten (falsch: ``1_test_var``)

Gut und konsistent benannte Variablen helfen Ihnen und anderen dabei Programmcode besser zu verstehen.

Mit der ``print()``-Funktion, können Sie sich jederzeit den Wert der Variablen ausgeben lassen.

In [ ]:
x = 42
print(x)

In der Notebookumgebung wird der Wert der letzten Zeile einer Zelle immer ausgegeben (außer dieser ist gleich ``None``).

In [ ]:
'gib diese Zeichenkette aus'

In [ ]:
None # keine Aussgabe

***
***Aufgabe 1.1*** Initialisieren Sie die *Variable* ``number`` sodass folgender Code das Ergebnis ``42`` ausgibt.

In [ ]:
number = ...
number = number + 10
print(number)

In [ ]:
grader.check("q1")

***Aufgabe 1.2*** Erklären Sie die Ausgabe des folgenden Codes.

In [ ]:
print(print(42))

_Ersetzen Sie diesen Text durch Ihre Antwort._

***

## 1.2 Veränderung

In ``Python`` können Sie den Wert einer Variablen jederzeit verändern, indem Sie ihren aktuellen Wert **überschreiben**.

In [ ]:
x = 42
print(x)
x = 100
print(x)

In den Jupyter-Notebooks bleibt der Wert einer Variable für nachfolgende Zellen erhalten, allerdings spielt die Reihenfolge in der Sie die Zellen ausgeführt haben eine wichtige Rolle!

In [ ]:
x = 111

In [ ]:
print(x)

In [ ]:
x = x + 3

***
***Aufgabe 1.3.*** Werten Sie folgende Zeilen in beliebiger Reihenfolge wiederholt aus, bis die Variable ``z`` den Wert ``100`` enthält. Wie viele Auswertungen benötigen sie mindestens?

In [ ]:
z = 15

In [ ]:
z = z + z
print(z)

In [ ]:
z = z - 5
print(z)

_Ersetzen Sie diesen Text durch Ihre Antwort._

***

## 1.3 Mehrere Variablen

Normalerweise benötigen wir mehr als eine Variable. Mit gut gewählten Namen geben Variablen die Semantik (**Was berechnet wird**) preis ohne dass wir den Code im Detail betrachten müssen.

Im folgenden Beispiel berechnen wir die Anzahl der Sekunden die innerhalb von vier Jahren vertreichen. Dabei verwenden wir fünf Variablen:

In [ ]:
# Create variables
num_years = 4
days_per_year = 365 
hours_per_day = 24
mins_per_hour = 60
secs_per_min = 60

# Calculate number of seconds in four years
total_secs = secs_per_min * mins_per_hour * hours_per_day * days_per_year * num_years
print(total_secs)

Die obige Berechnung lässt sich auch mit nur einer (oder keiner) Variablen ausdrücken:

In [ ]:
total_secs = 60 * 60 * 24 * 365 * 4
print(total_secs)

In diesem Fall verschlechtert sich die Lesbarkeit nicht unbedingt. Es kommt hierbei auf die Leserschaft Ihres Codes an.

Folgende Zwischenlösung finden wir einfacher zu lesen:

In [ ]:
secs_per_year = 365 * 24 * 60 * 60
total_secs = secs_per_year * 4
print(total_secs)

In den beiden Beispielen ändern sich unsere Variablen nicht. ``secs_per_year`` beschreibt, aus wie vielen Sekunden ein Jahr besteht. Dies wird sich niemals ändern.
Um Lesern dies zu signalisieren schreiben wir derartige Variablen in Großbuchstaben:

In [ ]:
SECS_PER_YEAR = 365 * 24 * 60 * 60
years = 4
total_secs = SECS_PER_YEAR * years
print(total_secs)

**Merke**: Variablen die sich niemals ändern (sog. Konstanten) schreiben wir gewöhnlich in Großbuchstaben.

Variablen sind immer dann besonders nützlich wenn sich ihr Wert ändert.

***
***Aufgabe 1.4*** Ändern Sie den Wert eine der Variablen im folgenden Code um die Sekundenanzahl zu berechnen welche innerhalb von 7 Jahren verstreicht.

In [ ]:
SECS_PER_YEAR = 365 * 24 * 60 * 60
years = 4
years = ...
total_secs = SECS_PER_YEAR * years
print(total_secs)

In [ ]:
grader.check("q4")

***

Angenommen wir möchten den Flächeninhalt eines Rechtecks berechnen:

In [ ]:
width = 100
height = 132.2
volume = width * height
print(volume)

Ändern wir nun die Breite ``width``, so ergibt sich ein anderer Flächeninhalt, sofern wir diesen erneut berechnen.

In [ ]:
width = 200
volume = width * height
print(volume)

Beachten Sie, dass wir eine sog. *Gleitkommazahl* ``float`` als Ergebnis erhalten. Die Variable besitzt einen anderen *Datentyp* als z.B. ``width``. Mehr dazu später.

## Debugging (Einschub)

Debugging ist ein Prozess bei dem Sie sich ansehen welche Werte Ihre Variablen zu welchem Zeitpunkt haben.
In anderen Worten, Sie verfolgen den *Zustand* aller Variablen Ihres Programms über den Programmablauf hinweg.
Zu Beginn Ihrer Programmierreise ist es hilfreich sich die Werte der Variablen durch den ``print()``-Befehl auszugeben.

***
***Aufgabe 1.5*** Bestimmen Sie was die Operation ``b**0.5`` berechnet.

In [ ]:
a = 13
b = 25
c = ((b**0.5 + a) * 7) * 7
c

_Ersetzen Sie diesen Text durch Ihre Antwort._

***
Oftmals machen wir dies um Fehler zu finden.
Einer der einfachsten Fehler die sich einschleichen können sind Typos, z.B.:

In [ ]:
print(volum)

Sobald der ``Python``-*Interpreter* eine Anweidung nicht versteht bzw. nicht ausführen kann, kommt es zu einem Fehler.
Diese Fehler sind Hinweise woran es liegen könnte, dass unser Prorgamm abgebrochen wurde.
Diese Meldungen mögen manchmal irritierend sein, da der Fehler nicht zwangsläufig dort zu finden ist, wo der Programmablauf endet.

## Jupyter Notebooks (Einschub)

*Jupyter Notebooks* helfen uns beim Lernen der ``Python``-Grundlagen, da wir Code interaktiv ausführen können.
Sie erhalten ein sofortiges Feedback und können schnell und zyklisch *Code verändern* und *Code ausführen*.
Größere ``Python``-Programme schreiben wir üblicherweise in eine simplen Textdatei.

Die ``Python``-Zellen eines Notebooks bilden ein ``Python``-Programm.
Dabei spielt die Reihenfolge wie Sie die Zellen ausführen eine Rolle.

Blicken Sie auf folgendes Beispiel, bestehend aus 4 Zellen.
Nehmen wir nun an, wir werten Zelle 1 dann 4 dann 3 und dann 2 aus.
Welchen Wert hat dann die Variable ``x``?

In [ ]:
y = -3      # Zelle 1

In [ ]:
x = z + y   # Zelle 2

In [ ]:
z = 5       # Zelle 3

In [ ]:
y = 20      # Zelle 4

Wir erhalten das gleiche Ergebnis indem wir den Zelleninhalt in dieser Reihenfolge in eine Zelle kopieren:

In [ ]:
y = -3      # Zelle 1
y = 20      # Zelle 4
z = 5       # Zelle 3
x = z + y   # Zelle 2
print(x)

Demnach ist ``x = 5 + 20`` und ``y = 20``. Führen wir daraufhin Zelle 1 dananch 2 aus, erhalten wir für ``x``: ``x = 5 + (-3) = 2``

In [ ]:
y = -3      # Zelle 1
y = 20      # Zelle 4
z = 5       # Zelle 3
x = z + y   # Zelle 2
y = -3      # Zelle 1
x = z + y   # Zelle 2
print(x)

**Füllen Sie Ihr Notebook immer so, sodass es das erwartete Ergebnis liefert wenn es von oben nach unten ausgeführt wird!**

Es kann passieren, dass Sie Ihr Notebook manuell terminieren müssen, z.B. wenn Sie versehentlich eine sog. Endlosschleife programmiert haben.
Die Terminierung hat den gleichen Effekt wie wenn es zu einem Fehler gekommen wäre.
Der Code wird bis zur Terminierung ausgeführt.

***
***Aufgabe 1.6*** Werten Sie folgende Zelle aus. Terminieren Sie die Ausführung nach einer kurzen Zeit. Lassen Sie sich die Variable ``k`` ausgeben. Ersetzen Sie anschließend die Zeile

```python
while True:
```

durch 

```python
while k < 10:
```

Führen Sie die Zelle erneut aus und prüfen Sie den Wert von ``k``.

In [ ]:
k = 1
while True:
    k = k + 1

In [ ]:
print(k)

***Aufgabe 1.7*** Wandeln Sie folgende Zellen in eine einzige Zelle um indem Sie deren Zelleninhalt in eine Zelle verschieben, sodass nach der Ausführung ``x`` den Wert ``42`` hat.

In [ ]:
x = x - y * 2

In [ ]:
x = 0

In [ ]:
y = 2

In [ ]:
x = y * 2

In [ ]:
x = x + 6

In [ ]:
y = 20

In [ ]:
...

In [ ]:
grader.check("q7")

Notebooks sind besonders hilfreich im Bereich der *Datenvisualisierung*, da Graphen (Plots) direkt im Notebook angezeigt werden können.

Im Folgenden sehen Sie ein Beispiel eines Plots der Sinusfunktion.
Zunächst erzeugen wir ein sog. Array aus $n = 200$ Zahlen die alle zwischen $0$ und $2 \pi$ liegen. 
Genauer gesagt erzeugen wir Werte $x_0, x_1, x_2, \ldots, x_{n-1}$ mit 

$$x_i = \frac{2 \cdot \pi \cdot i }{n-1}.$$

Dann generieren wir ein zweites Array bestehend aus Werten $y_0, y_1, y_2, \ldots, y_{n-1}$ mit

$$y_i = \sin(x_i).$$

Am Ende Zeichnen wir Linien, die durch die Punkte $(x_0, y_0), (x_1, y_1), \ldots, (x_{n-1}, y_{n-1})$ gehen.

**Hinweis**: Für die Ausführung des Code benötigen Sie die Pakete ``numpy`` und ``matplotlib``. Diese können Sie auf Ihrem System mit

```
conda install numpy
conda install matplotlib
```

oder 

```
pip install numpy
pip install matplotlib
```

installieren.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
n = 200
X = np.linspace(0, 2*np.pi, n)
Y = np.sin(X)
plt.plot(X, Y)

***
***Aufgabe 1.8*** Spielen Sie mit dem Code herum. Verändern Sie z.B. den Wert der Variablen ``n`` oder Plotten Sie anstatt des Sinus den Kosinus.

## Interpretation

***Aufgabe 1.9*** In der Vorlesung haben wir Karten sortiert. Wir haben also eine Sammlung von mehreren Dingen sortiert. In ``Python`` gibt es sogenannte Listen. Folgender Code erzeugt eine Liste, welche die Zahlen 1 bis 12 enthält

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
numbers

Wie könnten wir damit unser Kartenset repräsentieren?

_Ersetzen Sie diesen Text durch Ihre Antwort._

***Aufgabe 1.10*** Wir konstruieren ein neues (unäres) Dot-Zahlensystem, was aus positiven ganzen Zahlen besteht. Jede Zahl wird aus einer Folge des Zeichens ``'.'`` gebildet. 

+ 5 wird beispielsweise durch ``.....``, 
+ 3 durch ``...`` und 
+ 0 durch ``''`` 

repräsentiert. In anderen Worten, eine Zahl $n$ wird durch $n$-Punkte (Dots) repräsentiert. Folgende Funktionen helfen uns dabei mit unserem Zahlensystem zu rechnen. Sie bilden einen Kontext.

In [ ]:
def add(a, b):
    return a+b

def sub(a, b):
    return a[0:max(0, len(a)-len(b))]

def div(a, b):
    return to_dots(int(len(a) / len(b)))

def mul(a, b):
    return a * len(b)

def to_dots(number):
    return '.'*number

def to_number(dots):
    return len(dots)

Rufen Sie die Funktionen auf und finden Sie heraus was die einzelnen Funktionen im Kontext unseres Zahlensystems machen.

Beispielsweise können Sie die Funktion ``add`` (Addieren) durch folgenden Ausdruch aufrufen:

In [ ]:
add('..', '...')

_Ersetzen Sie diesen Text durch Ihre Antwort._

***Aufgabe 1.11*** Berechnen Sie ``dots = ((5 + 8 - 4 * 2) + 1) / 3``, verwenden Sie dabei jedoch nur die Funktionen von oben und das Zeichen ``'.'``. ``dots`` soll aus ``'.'`` bestehen.

In [ ]:
dots = ...

In [ ]:
grader.check("q11")

***Aufgabe 1.12*** Warum glauben Sie ist dieses Dot-System nicht sonderlich praktikabel?

_Ersetzen Sie diesen Text durch Ihre Antwort._

---

**Hinweis**: Durch Auswertung der folgenden Zelle werden alle Tests ausgeführt.
Sie sollten das Notebook zuvor bis hier hin von oben nach unten ausgewertet haben.

In [ ]:
grader.check_all()

## Abgabe

Dieses Notebook ist zur reinen Übung gedacht und muss nicht abgegeben werden. Wir raten Ihnen eindringlich alle Aufgaben zu lösen!

In [ ]:
grader.export(force_save=True, run_tests=True)